.sidebar {
    background-color: #fff;
    .sidebar-menu{
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            li {
                list-style: none;
                margin: 20px;
                padding: 0;
            }
            a{
                font-size: 1.5rem;
                padding: 10px;
                text-transform: capitalize;
                text-decoration: none;
                color: #272727;
                &:hover{
                    background-color: #3b3b41;
                    color: #fff;
                }
        }
        
        
        }
    }
}
.sidebar_close {
    width: 50px;
    
    .sidebar-menu{
        display: none;
        transition: margin-right 2s;
        
        }
}
