.content {
    padding: 20px;
    min-height: 2000px;
    
    
    
    .avatar {
        width: 50px;
    }
    .activ{
        color: red;
    }
    
    .number_tatle {
        display: flex;
        flex-wrap: wrap;
        div{
            margin: 7px;
        }
    }
    .user{
        display: flex;
        justify-content: space-between;
         margin-bottom: 20px;
        border: .5px solid #000;
        padding: 20px;
    }
    
}

.fetching{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #000;
    position: fixed;
    top: 50%;
    left: 50%;
}





.status {
    width: 100%;
    margin: 20px 0;
    .tatle-status{
        
        
        margin: 20px 0;
        button{
            padding: 10px;
            cursor: pointer;
        }
    }
    .status-block{
        display: flex;
        input, button {
            padding: 10px;
        }
    }

    .close{
        display: none;
    }
}