.container {
    text-transform: capitalize;

    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    display: grid;
    grid-template-rows:  1fr 5rem;
    grid-template-columns: 100%;
    grid-gap: 1rem;
    grid-template-areas:  'main' 'foot';
    .header {
        grid-area: head;
    }
    .main {
        margin: 6.5rem auto 0 auto;
        width: 1280px;
        display: grid;
        grid-area: main;
        grid-template-columns: 1.5fr 10fr;
        grid-template-rows: 100%;
        grid-template-areas: 'side cont' ;
        .sidebar {
        grid-area: side;
        height: 60%;
        }
        .content {
            grid-area: cont;
            background-color: #dadada;
            
        }
    }
    
    .footer {
        grid-area: foot;
    //    position: absolute;
    //    bottom: 0;
    //    left: 0;
    //    width: 100%;
    }


   
}





@media screen and (max-width: 768px) {
    .container {
        grid-gap: .5rem;
        grid-template-areas: 'scrn' 'foot';
        .screen {
            grid-template-columns: 1fr;
            grid-template-areas: 'cont' ;
            margin: 0 10px;
            .sidebar {
                display: none;
            }
        }
        
    }
  
  
}